params {
    input    = "${projectDir}/assets/test_data/sample_gwas.tsv"
    bfile    = "${projectDir}/assets/test_data/dummy_ref.bed"
    gene_loc = "${projectDir}/assets/test_data/dummy_gene.loc"
    outdir   = "${projectDir}/results"
}

includeConfig 'conf/modules.config'

profiles {
    standard {
        process.executor = 'local'
    }
    test {
        params.input    = "${projectDir}/assets/test_data/sample_gwas.tsv"
        params.bfile    = "${projectDir}/assets/test_data/dummy_ref.bed"
        params.gene_loc = "${projectDir}/assets/test_data/dummy_gene.loc"
        params.outdir   = "${projectDir}/results"
    }
}
