params {
    input   = "${projectDir}/assets/test_data/sample_gwas.tsv"
    outdir  = "${projectDir}/results"
}

process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: 'copy'
    ]
}

profiles {
    standard {
        process.executor = 'local'
    }
    test {
        params.input  = "${projectDir}/assets/test_data/sample_gwas.tsv"
        params.outdir = "${projectDir}/results"
    }
}
