/*
========================================================================================
    GE2TS: Genetic Effects to Transcriptomic Scores Pipeline Configuration
========================================================================================
*/

params {
    input    = "${projectDir}/assets/test_data/sample_gwas.tsv"
    bfile    = "${projectDir}/assets/test_data/dummy_ref.bed"
    gene_loc = "${projectDir}/assets/test_data/dummy_gene.loc"
    pathways = "${projectDir}/assets/test_data/dummy_pathways.gmt"
    outdir   = "${projectDir}/results"
    
    // Boilerplate options
    help     = false
}

includeConfig 'conf/modules.config'

profiles {
    standard {
        process.executor = 'local'
    }
    test {
        params.input    = "${projectDir}/assets/test_data/sample_gwas.tsv"
        params.bfile    = "${projectDir}/assets/test_data/dummy_ref.bed"
        params.gene_loc = "${projectDir}/assets/test_data/dummy_gene.loc"
        params.pathways = "${projectDir}/assets/test_data/dummy_pathways.gmt"
        params.outdir   = "${projectDir}/results"
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
    }
    apptainer {
        apptainer.enabled      = true
        apptainer.autoMounts   = true
        docker.enabled         = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
    }
}

manifest {
    name            = 'GE2TS'
    author          = 'GE2TS Pipeline Contributors'
    homePage        = 'https://github.com/GE2TS'
    description     = 'Genetic Effects to Transcriptomic Scores Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}
