/*
========================================================================================
    Config file for defining process specific ext.args and module parameters
========================================================================================
*/

process {
    withName: 'GWAS_PREP' {
        ext.args = '--filter-indels'
        publishDir = [
            path: { "${params.outdir}/gwas_prep" },
            mode: 'copy'
        ]
    }

    withName: 'MAGMA_ANNOT_RUN' {
        ext.window = '10,10'
        ext.args = '--mock'
        publishDir = [
            path: { "${params.outdir}/magma_annot_run" },
            mode: 'copy'
        ]
    }

    withName: 'QC_GSEA' {
        publishDir = [
            path: { "${params.outdir}/qc_gsea" },
            mode: 'copy'
        ]
    }
}
